*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ul {
    list-style: none;
}
a {
    text-decoration: none;
    color: inherit;
}
button {
    background: transparent;
    border: none;
    cursor: pointer;
}
body {
    background-color: #121212;
    color: #FAFAFA;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 28px;
}

.container {
    max-width: 1350px;
    padding: 0 15px;
    margin: 0 auto;
}
.title {
    color: #FFC648;
    font-family: "Oswald", sans-serif;
    font-size: 60px;
    font-weight: 400;
    text-shadow: 0px 0px 28px #FFC648;
    margin-bottom: 27px;
}
.hero,
.about,
.services,
.benefits {
    margin-bottom: 45px;
}

.header {
    padding-top: 65px;
    margin-bottom: 85px;
}
.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header__nav-list {
    display: flex;
    gap: 70px;
}
.header__nav-link {
    transition: all .4s;
}
.header__nav-link:hover {
    text-shadow: 0px 0px 28px #FFC648;
}
.hero__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.hero__title {
    font-family: "Oswald", sans-serif;
    font-weight: 500;
    font-size: 52px;
    color: #FFC648;
    text-shadow: 0px 0px 28px #FFC648;
}
.hero__subtitle {
    font-weight: 300;
    font-size: 36px;
    margin-bottom: 40px;
}
.hero__button {
    font-size: 40px;
    font-weight: 300;
    color: #121212;
    padding: 15px 25px;
    background: linear-gradient(77deg, #E1A218 0%, #FFD476 100%);
    border-radius: 40px;
    border: 1px solid transparent;
    transition: all .4s
}

.hero__button:hover {
    transition: all .4s;
    color: #FFC648;
    border-color: #F2BC45;
    box-shadow: inset 0 0 0 1000px #121212;
}
.hero__video {
    border-radius: 12px;
    width: 325px;
    height: 576px;
}
.about__inner {
    display: flex;
    justify-content: space-between;
}
.about__content {
    max-width: 700px;
}
.about__text {
    margin-bottom: 35px;
}
.about__subtitle {
    color: #FFC648;
    text-shadow: 0px 0px 28px #FFC648;
    margin-bottom: 20px;
    font-size: 40px;
}
.about__image img {
    border-radius: 20px;
    max-height: 645px;
}
.about__arsenal-text {
    display: inline-block;
    padding: 15px 25px;
    border-radius: 60px;
    border: 1px solid transparent;
    background: 
        linear-gradient(#121212, #121212) padding-box,
        linear-gradient(77deg, #E1A218, #FFD476) border-box;
}
.about__arsenal-text + .about__arsenal-text {
    margin-top: 15px;
}
.services__content-wrapper {
    background-image: url(./assets/services-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 50px 0;
}
.services__content {
    display: flex;
    justify-content: space-between;
}
.services__content-column {
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.services__item {
    position: relative;
    display: inline-block;
    font-size: 32px;
    font-weight: 300;
    padding: 13px 17px 13px 70px;
    border-radius: 60px;
    width: fit-content;
}
.services__item--13 {
    padding: 13px 17px 13px 60px;
}
.services__item::after {
    content: '';
    position: absolute;
    width: 48px;
    height: 48px;
    left: 15px;
    top: 8px;
    background-repeat: no-repeat;
    background-size: cover;
}
.services__item--1::after {
    background-image: url(./assets/icons/services/1.svg);
}
.services__item--2::after {
    background-image: url(./assets/icons/services/2.svg);
}
.services__item--3::after {
    background-image: url(./assets/icons/services/3.svg);
}
.services__item--4::after {
    background-image: url(./assets/icons/services/4.svg);
}
.services__item--5::after {
    background-image: url(./assets/icons/services/5.svg);
}
.services__item--6::after {
    background-image: url(./assets/icons/services/6.svg);
}
.services__item--7::after {
    background-image: url(./assets/icons/services/7.svg);
}
.services__item--8::after {
    background-image: url(./assets/icons/services/8.svg);
}
.services__item--9::after {
    background-image: url(./assets/icons/services/9.svg);
}
.services__item--10::after {
    background-image: url(./assets/icons/services/10.svg);
}
.services__item--11::after {
    background-image: url(./assets/icons/services/11.svg);
}
.services__item--12::after {
    background-image: url(./assets/icons/services/12.svg);
}
.services__item--13::after {
    background-image: url(./assets/icons/services/13.svg);
    left: 10px;
}
.services__item::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 60px;
    padding: 1px; /* Толщина "рамки" */
    background: linear-gradient(77deg, #E1A218, #FFD476);
    -webkit-mask: 
        linear-gradient(#fff, #fff) content-box, 
        linear-gradient(#fff, #fff);
    -webkit-mask-composite: xor;
    mask-composite: exclude;
}
.gallery__slide-wrapper {
    position: relative;
}
.gallery__slide-name {
    position: absolute;
    padding: 11px 20px;
    right: 10px;
    bottom: 25px;
    border-radius: 60px;
    font-size: 16px;
    color: #121212;
    display: inline-block;
    background: linear-gradient(50deg, #E1A218 43%, #FFD476 77%);
}
.tns-outer [data-action] {
    display: none;
}
.benefits__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.benefits__content {
    display: flex;
    flex-direction: column;
    row-gap: 35px;
    max-width: 730px;
}
.benefits__item {
    padding-left: 130px;
    position: relative;
}
.benefits__item::before {
    content: '';
    position: absolute;
    width: 77px;
    height: 77px;
    background-repeat: no-repeat;
    background-size: cover;
    left: 0;
    top: 15px;
}
.benefits__item--1::before {
    background-image: url(./assets/icons/benefits/1.svg);
}
.benefits__item--2::before {
    background-image: url(./assets/icons/benefits/2.svg);
}
.benefits__item--3::before {
    background-image: url(./assets/icons/benefits/3.svg);
}
.benefits__item--4::before {
    background-image: url(./assets/icons/benefits/4.svg);
}
.benefits__item--5::before {
    background-image: url(./assets/icons/benefits/5.svg);
}
.benefits__item--6::before {
    background-image: url(./assets/icons/benefits/6.svg);
}
.benefits__item-title {
    font-size: 32px;
    margin-bottom: 5px;
}
.benefits__item-text {
    font-size: 24px;
    font-weight: 300;
}
.benefits__images {
    display: flex;
    flex-direction: column;
    row-gap: 50px;
}