*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ul {
    list-style: none;
}
a {
    text-decoration: none;
    color: inherit;
}
body {
    background-color: #121212;
    color: #FAFAFA;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 28px;
}

.container {
    max-width: 1350px;
    padding: 0 15px;
    margin: 0 auto;
}

.header {
    padding-top: 65px;
    margin-bottom: 120px;
}
.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header__nav-list {
    display: flex;
    gap: 70px;
}
.header__nav-link {
    transition: all .3s;
}
.header__nav-link:hover {
    text-shadow: 0px 0px 28px #FFC648;
}